[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Video Files (MovieThumbs)
Name[bg]=Видео файлове (MovieThumbs)
Name[ca]=Fitxers de vídeo (MovieThumbs)
Name[cs]=Soubory videa (MovieThumbs)
Name[da]=Videofiler (MovieThumbs)
Name[de]=Videodateien (MovieThumbs)
Name[el]=Αρχεία βίντεο (MovieThumbs)
Name[es]=Archivos de vídeo (MovieThumbs)
Name[et]=Videofailid (MovieThumbs)
Name[fi]=Videotiedostot (MovieThumbs)
Name[fr]=Fichiers vidéo (MovieThumbs)
Name[ga]=Comhaid Fhíse (MovieThumbs)
Name[gl]=Ficheiros de vídeo (MovieThumbs)
Name[hu]=Videofájlok (MovieThumbs)
Name[it]=File video (MovieThumbs)
Name[kk]=Видео файлдар (MovieThumbs)
Name[lt]=Video failai (MovieThumbs)
Name[nb]=Videofiler (MovieThumbs)
Name[pa]=ਵਿਡੀਓ ਫਾਇਲਾਂ (MovieThumbs)
Name[pl]=Pliki filmów (MovieThumbs)
Name[pt]=Ficheiros de Vídeo (MovieThumbs)
Name[pt_BR]=Arquivos de vídeo (MovieThumbs)
Name[ru]=Видеофайлы (MovieThumbs)
Name[sk]=Video súbory (MovieThumbs)
Name[sl]=Datoteke z videom (MovieThumbs)
Name[tr]=Video Dosyaları (MovieThumbs)
Name[uk]=Файли відео (MovieThumbs)
Name[x-test]=xxVideo Files (MovieThumbs)xx
Name[zh_CN]=视频文件(MovieThumbs)
Name[zh_TW]=影像檔 (MovieThumbs)
MimeType=video/*;application/x-flash-video;application/vnd.ms-asf;application/vnd.rn-realmedia;
X-KDE-Library=MovieThumbs
X-KDE-ServiceTypes=ThumbCreator
ServiceTypes=ThumbCreator
CacheThumbnail=true
ThumbnailerVersion=3
IgnoreMaximumSize=true
